/* Columnas que ocupan el 25% del espacio disponible */
.home-section {
  margin-bottom: 3rem;
}

.espacio-25 {
  width: 25%;
  vertical-align: top;
  display: flex;
  align-items: flex-start;
}

.carrusel-espacio {
  width: 75%;
  max-width: 900px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 17px;
}

.carousel {
  margin: 24px 0;
  align-items: center;
  border: 2px solid #e0e0e0;
  border-radius: 16px;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.07);
  background: #fff;
  padding: 12px 1rem;
}

.carousel-inner {
  min-height: 400px;
  /*display: contents;*/
}

@media (max-width: 991px) {
  .espacio-25 {
    width: 100%;
    max-width: 100%;
  }
}

@media (max-width: 991px) {
  .carrusel-espacio {
    width: 100%;
    max-width: 100%;
  }
}

@media (max-width: 991px) {
  .col-lg-8,
  .col-lg-4,
  .col-lg-7,
  .col-lg-5 {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .carousel-inner {
    min-height: 260px;
  }
}

@media (max-width: 991px) {
  .col-lg-8,
  .col-lg-4,
  .col-lg-7,
  .col-lg-5 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

.testimonial-img {
  width: 200px;
  height: 250px;
  object-fit: cover;
  border-radius: 50%;
}
