<!-- // frontend/src/app/public/components/carrusel-testimonios/carrusel-testimonios.html -->
<div class="text-center mb-5 animate-fade-down">
  <h1 class="display-5 fw-bold text-dark text-uppercase mb-2">Testimonios</h1>
  <p class="text-muted lead mx-auto" style="max-width: 600px">
    Testimonios de quienes han participado en programas y actividades de Juventudes Guanajuato.
  </p>
</div>

<p-carousel
  class="mentimeter-carousel"
  [value]="testimonios"
  [numVisible]="4"
  [numScroll]="1"
  [circular]="true"
  [responsiveOptions]="responsiveOptions"
  [autoplayInterval]="5000"
  [showNavigators]="true"
  [showIndicators]="true"
  [dt]="carouselDesignTokens"
>
  <ng-template let-testimonio pTemplate="item">
    <div class="testimonial-wrapper">
      <div class="testimonial-card">
        <div class="card-body">
          <span class="quote-symbol">“</span>
          <p class="mb-4 text-muted description-text">
            {{ testimonio.descripcion }}
          </p>

          <div class="user-profile">
            <img
              [src]="
                publicUrl + '/testimonios/' + testimonio.id_testimonios + '/' + testimonio.imagenT
              "
              [alt]="testimonio.nombreM"
              class="avatar-img"
            />
            <div class="user-info">
              <h6 class="mb-0 font-bold">{{ testimonio.nombreM }}</h6>
              <small class="text-muted">Municipio de {{ testimonio.nombreMunicipio }}</small>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
</p-carousel>
