<!-- nuevo/frontend/src/app/public/layout/public-layout/public-layout.html -->
<!-- <app-topbar></app-topbar> <div class="app-layout"> <app-navbar></app-navbar> <main class="content"> <router-outlet></router-outlet> </main> </div> <app-boton-contactanos></app-boton-contactanos> <app-footer></app-footer> -->
<!-- <app-topbar></app-topbar> -->
 
<div class="app-layout">
  <!-- <app-navbar></app-navbar> -->
  <main class="content">
    <!-- <app-navbar2 style="position: sticky; top: 0; z-index: 1000;"></app-navbar2> -->
    <div></div>
    <app-navbar3
      [brandLink]="'/'"
      [scrollThreshold]="100" style="position: fixed; top: 0; z-index: 1000; width: 100%;"
    >
    </app-navbar3>
    @if (mostrarDiv) {
    <div style="height: 160px">
      <!-- ESTE DIV APARECE EN TODAS MENOS LAS QUE DEFINAS -->
    </div>}
    
    <router-outlet></router-outlet>
  </main>
  <!-- Si este botón es flotante, puede quedarse fuera -->
  <!-- <app-boton-contactanos></app-boton-contactanos> -->
  <!-- Footer debe estar dentro del layout -->
  <app-footer></app-footer>
</div>
