<div class="top-bar">
  <div class="container">
    <!-- Contacto -->
    <div class="contact">
      <a>477 710 34 00</a>
      <a href="http://directorio.juventudesgto.com/directoriojegto/" target="_blank">DIRECTORIO</a>
    </div>

    <!-- Redes sociales -->
    <div class="social">
      <a href="https://www.instagram.com/juventudesgente/" target="_blank"><i class="fa-brands fa-instagram"></i></a>
      <a href="https://www.facebook.com/Juventudesgente/" target="_blank"><i class="fa-brands fa-facebook-f"></i></a>
      <a href="https://x.com/juventudesgente" target="_blank"><i class="fa-brands fa-x-twitter"></i></a>
      <a href="https://www.youtube.com/@juventudesgto" target="_blank"><i class="fa-brands fa-youtube"></i></a>
      <a href="https://www.tiktok.com/@juventudesgente" target="_blank"><i class="fa-brands fa-tiktok"></i></a>
    </div>
  </div>
</div>