<div class="contenedor">
  <div class="row text-wrap text-break">
    <div class="col-sm-12 col-md-12 col-xs-12 col-lg-12">
      <p class="text-center texto-title-pages mb-4">Voces Emergentes</p>
    </div>
  </div>

  <div class="card-stack-container">
    <div *ngFor="let revista of revistas" class="card-stack" [style.--cards]="4" (click)="abrirRevista(revista)">
        <div class="card-layer with-image" [style.background-image]="'url(/revistas_portadas/' + revista.id_revista + '/' + revista.portada + ')'">

      
        <h2>Volumen {{ revista.volumen }}</h2>
        <p>{{ revista.fecha | date: 'MMMM y' }} - 4 artículos</p>
      </div>

      <div class="card-layer" *ngFor="let i of [].constructor(3)"></div>
    </div>
  </div>
</div>



<!-- <app-flipbook [src]="'flipbook/revista.pdf'" [pageWidth]="900"></app-flipbook>

<p> @for (r of revistas; track r.id_revista) {
  {{ r.volumen }}
} </p> -->

