<!-- <app-topbar></app-topbar>

<div class="app-layout">
  <app-navbar-admin></app-navbar-admin>
  <main class="content">
    <router-outlet></router-outlet>
  </main>
</div>

<app-footer></app-footer> -->

<!-- <app-topbar></app-topbar>

<app-navbar-admin></app-navbar-admin> -->

<app-navbar3
  [brandLink]="'/'"
  [scrollThreshold]="100"
  style="position: sticky; top: 0; z-index: 1000"
>
</app-navbar3>
@if (mostrarDiv) {
  <div style="height: 160px">
    <!-- ESTE DIV APARECE EN TODAS MENOS LAS QUE DEFINAS -->
  </div>}
  
<main class="content">
  <div class="container-xxl">
    <router-outlet></router-outlet>
  </div>
</main>

<app-footer></app-footer>
