.contenedor {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 17px;
}

/* Small devices such as large phones (640px and up) */
@media only screen and (min-width: 640px) {
  .contenedor {
    max-width: 550px;
  }
}

/* Medium devices such as tablets (768px and up) */
@media only screen and (min-width: 768px) {
    .contenedor {
    max-width: 640px;
  }
}

/* Large devices such as laptops (1024px and up) */
@media only screen and (min-width: 1024px) {
    .contenedor {
    max-width: 1000px;
  }
}

/* Largest devices such as desktops (1280px and up) */
@media only screen and (min-width: 1280px) {
    .contenedor {
    max-width: 2000px;
  }
}
