<nav class="navbar navbar-expand-lg gto-nav">
  <div class="container">
    
    <a class="navbar-brand" routerLink="/">
      <img src="assets/logo_1.png" alt="Logo" height="60">
    </a>

    <!-- Botón -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Opciones -->
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
        <ul class="navbar-nav ms-auto" >
        <li class="nav-item dropdown">
            <a class="nav-link active dropdown-toggle" routerLink="/admin">
              <i class="bi bi-house-fill"></i>
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" routerLink="">Propuestas</a></li>
              <li><a class="dropdown-item" routerLink="">Testimonios</a></li>
              <li><a class="dropdown-item" routerLink="">Encuestas</a></li>
              <li><a class="dropdown-item" routerLink="">Gráficas</a></li>
              <li><a class="dropdown-item" routerLink="">Temas de interés</a></li>
            </ul>
        </li>
        <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" routerLink="/admin/sistema-juventudes">Sistema Juventudes</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" routerLink="">Red de investigadores</a></li>
          </ul>
        </li>
        <li class="nav-item"><a class="nav-link" routerLink="/admin/estadisticas" routerLinkActive="active">Estadísticas</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/admin/revista">Revista Voces Emergentes</a></li>
        <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" routerLink="/admin/centro-documental">Centro Documental</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" routerLink="">Banco de datos</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" routerLink="/admin/informacion-interes">Información de interés</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" routerLink="">Apoyos y servicios</a></li>
            <li><a class="dropdown-item" routerLink="">Directorios</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="" (click)="logout()" title="Cerrar sesión">
            <i class="bi bi-box-arrow-in-right fs-5"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
