<div class="container">
  <aside class="sidebar">
    <div class="filtro-encabezado">
      <h3>Filtros</h3>
    </div>
    <div class="contenedor-filtros">
      <div class="filter-section">
        <button>
          <span>Buscar nombre</span>
          <span class="plus">▼</span>
        </button>
        <h4>Buscar nombre</h4>
        <input
          type="text"
          placeholder="Escribe el nombre..."
          (input)="onSearch($event.target.value)"
        />
      </div>
    </div>
    <p class="results">{{ filteredMunicipios.length }} resultados</p>
  </aside>
  <main class="content">
    <div class="cards-grid">
      <div class="card" *ngFor="let m of filteredMunicipios">
        <div class="contenido">
          <div>
            <div class="badge">Municipio</div>
          </div>
          <div class="titulo">
            <h3>{{ m.nombre }}</h3>
          </div>
          <div class="descripcion">
            <p><strong>Fecha de captura:</strong> {{ formatDate(m.Fecha_Captura) }}</p>
          </div>
        </div>
        <div class="metadato">
          <a target="_blank" rel="noopener noreferrer" [href]="'/uploads/' + m.pdf">
            📄 Ver documento
          </a>
        </div>
      </div>
      <!--container-->
    </div>
  </main>
</div>
