<p-toast></p-toast>

<div class="propuestas-admin-container">

  <p-toolbar styleClass="mb-4">
    <ng-template pTemplate="left">
      <h2 class="m-0">Propuestas de acción</h2>
    </ng-template>
  </p-toolbar>

  <p-card>

    <p-accordion [multiple]="true">

      <ng-container *ngFor="let p of propuestas(); let i = index">

        <p-accordion-panel [value]="i">

          <!-- ENCABEZADO -->
          <p-accordion-header>
            <div class="accordion-header">
              <div class="header-left">
                <strong>#{{ p.id_propuesta }}</strong> - {{ p.nombreC }}
                <span class="municipio">({{ p.nombreMunicipio }})</span>
              </div>

              <div class="header-right">
                <i class="pi pi-envelope"></i> {{ p.correo }}
                <span class="fecha">
                  {{ p.fecha_registro | date:'dd/MM/yyyy HH:mm':'UTC' }}
                </span>
              </div>
            </div>
          </p-accordion-header>

          <!-- CONTENIDO -->
          <p-accordion-content>

            <div class="panel-content">

              <h4>Detalle</h4>
              <p>{{ p.detalle }}</p>

              <h4>Justificación</h4>
              <p>{{ p.justificacion || 'Sin justificación' }}</p>

              <h4>Necesidades</h4>
              <p>{{ p.necesidades || 'Sin información' }}</p>

              <hr>

              <div class="info-grid">
                <div><strong>Sexo:</strong> {{ p.sexo }}</div>
                <div><strong>Edad:</strong> {{ p.edad }}</div>
                <div><strong>Actividad:</strong> {{ p.actividad }}</div>
                <div><strong>Zona:</strong> {{ p.zona }}</div>
              </div>

            </div>

          </p-accordion-content>

        </p-accordion-panel>

      </ng-container>

    </p-accordion>

    <!-- <div *ngIf="!propuestas.length && !loading" class="empty-message">
      <i class="pi pi-inbox" style="font-size: 3rem; color: #ccc;"></i>
      <p>No hay propuestas registradas</p>
    </div> -->

    @if (!propuestas.length && !loading) {
      <div class="empty-message">
        <i class="pi pi-inbox" style="font-size: 3rem; color: #ccc;"></i>
        <p>No hay propuestas registradas</p>
      </div>
    }


  </p-card>
</div>
